<article class="tile" itemscope itemtype="http://schema.org/Article">
	<a href="{{ client.url }}" title="{{ client.title }}" class="post-teaser" target="_blank">
    <img src="{{ site.url }}/images/preload-400.png" data-original="{{ site.url }}/images/clients/{% if client.image %}{{ client.image }}{% endif %}" class="load" alt="teaser" itemprop="image">
    <noscript><img src="{{ site.url }}/images/clients/{% if client.image %}{{ client.image }}{% endif %}" alt="teaser" itemprop="image"></noscript>
	</a>
	<h2 class="post-title" itemprop="headline"><a href="{{ client.url }}" target="_blank">{{ client.title }}</a></h2>
</article><!-- /.tile -->
