{% if page.github %}
  <div id="github">
    <div id="github-header">
      <a href="https://github.com/{{ site.author.github }}"
         title="Follow {{ site.author.github }} on Github" id="followGithub" class="noBg">
         <img src="https://github.com/favicon.ico" />Follow me on Github
      </a>

      <h3>Open Source Contributions</h3>
    </div>

    <ul id="gh_repos">
      <div class="loading">Retrieving open source projects...</div>
    </ul>

    <script type="text/javascript">
      $(function() {
          github.showRepos({
            user: '{{ site.author.github }}',
            count: 0,
            skip_forks: false,
            target: '#gh_repos'
          });
      });
    </script>
  </div>
{% endif %}
