<!-- Twitter -->
<a  href="https://twitter.com/share" class="twitter-share-button" data-text="{{ page.title }}" data-via="{{ site.author.twitter }}" data-related="{{ site.author.twitter_related }}" data-lang="en">Tweet</a>

<!-- Google+ -->
<g:plusone size="medium"></g:plusone>

<script src="//platform.linkedin.com/in.js" type="text/javascript">
 lang: en_US
</script>
<script type="IN/Share" data-url="{{ site.production_url }}{{ page.url }}" data-counter="right"></script>

<script id='flattrbtn'>(function(i){var f,s=document.getElementById(i);f=document.createElement('iframe');f.src='//api.flattr.com/button/view/?uid={{ site.author.flattr }}&button=compact&url='+encodeURIComponent(document.URL);f.title='Flattr';f.height=20;f.width=110;f.style.borderWidth=0;s.parentNode.insertBefore(f,s);})('flattrbtn');</script>

<iframe style="border: 0; margin: 0; padding: 0;"
        src="https://www.gittip.com/{{ site.author.gittip }}/widget.html"
        width="48pt" height="22pt"></iframe>

<script>

(function(doc, script) {

    // Async Social Buttons
    var js,
        fjs = doc.getElementsByTagName(script)[0],
        add = function(url, id) {
            if (doc.getElementById(id)) {return;}
            js = doc.createElement(script);
            js.src = url;
            id && (js.id = id);
            fjs.parentNode.insertBefore(js, fjs);
        };

    // Twitter SDK
    add('//platform.twitter.com/widgets.js', 'twitter-wjs');

    // Google+ button
    add('https://apis.google.com/js/plusone.js');

}(document, 'script'));

</script>
